/* Colors:

blue: #00acc1;
red: #ef5350;
yellow: #fff176;
teal: #00796b;
blue grey: #37474f;
dark grey: #263238;
 */

* {
	font-size: 16px;
	/*margin: 0;*/
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}


 /* Fonts */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);

/* Google Material Icons */

.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Typography */

h1, h2, h3, h4, h5, h6, button {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}

h1 {
	font-size: 3.75em;
	line-height: 130%;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 30px;
	text-align: center;
	margin-top: 60px;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 2em;
	margin-bottom: 30px;
	margin-top: 0;
	text-align: center;
}

h4 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.375em;
}

h5 {
	font-size: 1em;
}

h5 {
	font-style: 0.8em;
}

p {
	font-size: 1.125em;
	font-weight: 300;
	line-height: 160%;
	color:#263238;
}

strong {
	font-weight: 700;
}

a {
	text-decoration: none;
}

/* Colors */

.light {
	color: #fff;
}

.blue {
	color: #00acc1;
}

.red {
	color: #ef5350;
}

.yellow {
	color: #fff176;
}

.teal {
	color: #00796b;
}

.blue-grey {
	color: #78909C;
}

.dark-grey {
	color: #263238;
}

/* Navbar */
#header {
	background-color: #37474f;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
	height: 50px;
	}

.navbar-brand {
	padding-top: 10px;
}

.navbar-brand>img {
	height: 28px;
	width: auto;
}

.navbar-nav>li>a {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: #fff;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:visited {
	background-color: #f04f52;

}

.icon-bar {
	color: #fff;
}

.navbar-collapse {
	background-color: #37474f;
}

/* Hero image */

#hero {
	background-image: url(../img/hero_img.svg);
	background-color: #00acc1;
	background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;
		-o-background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
		-webkit-background-position: center center;
		-moz-background-position: center center;
		-ms-background-position: center center;
		-o-background-position: center center;
	height: 100vh;
	width: auto;
	display: block;
}


#hero h1 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}

#hero i {
	position: relative;
	top: 4px;
	padding-right: 8px;
	padding-left: 20px;
}

.hero-slogan {
	padding: 7% 20% 0 20%;
}

/*.sponsor {
	margin-top: 20px;
}*/

.general-sponsor {
	display: inline-block;
	font-size: 0.875em;
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	letter-spacing: 1px;
	padding-right: 12px;
}

.general-sponsor-logo {
	margin-top: 0 auto;
	height: 30px;
	width: auto;
}

.hero-date {
	font-weight: 400;
	font-size: 1.3em;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* Sections */

section {
	padding: 60px 0;
}

.section-white {
	background-color: #fff;
}

.section-grey {
	background-color: #ECEFF1;
}

.section-dark {
	background-color: #263238;
}

.section-red {
	background-color: #ef5350;
}

.section-blue {
	background-color:  #00acc1;
}

.section-teal {
	background-color: #00796b;
}

/* About section */

.about-head {
	
	line-height: 130%;
}

.logo-about {
	display: block;
	margin: 0 auto 40px auto;
	height: 53px;

}

.keypoint {
	border: 2px solid #fff;
	margin-top: 20px;
	padding: 30px;
	/*height: 280px;*/
}

.keypoing-head {
	color: #fff;
}

.keypoing-head-unit {
	font-size: 1.2em;
	letter-spacing: 0.6px;
	color: #fff;
	padding-bottom: 16px;
	border-bottom: 1px solid #fff;
}

.keypoint-content {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #fff;
	text-align: left;
	letter-spacing: 0.5px;
}

.plane {
	width: 20%;
	float: left;
}

.plane-img {
	width: 90%;
}

.content {
	width: 80%;
	float: right;
	padding-left: 60px;
}

/* Employers */

.employer {
	margin: 40px 0;
}

.employer-h {
	display: block;
	margin: 0 auto;
	width: auto;
	height: 33.3%;
}

.employer-h-big {
	display: block;
	margin: 0 auto;
	width: auto;
	height: 33.3%;
}

.employer-v {
	display: block;
	margin: 0 auto;
	width: 43.3%;
	height: auto;
}

.employer-sq-n {
	display: block;
	margin: 0 auto;
	width: 20.3%;
	height: auto;
}


/* Speakers */

.speaker {
	background-color: #fff;
	width: 100%;
	padding: 20px;
	margin-top: 40px;
}

/*.speaker:hover {
	-webkit-box-shadow: 0 0 6px rgba(38,50,56,.3);
	-moz-box-shadow: 0 0 6px rgba(38,50,56,.3);
	box-shadow: 0 0 6px rgba(38,50,56,.3);
}*/

.speaker-inactive {
	opacity: 0.3;
}

.speaker-img { 
	width: 100%;
	height: auto;
 }

 .speaker-name {
 	padding-top: 10px;
 	font-weight: 700;
 	text-align: center;
 }

 .speaker-position {
 	text-align: center;
 	font-size: 0.875em;
 	font-weight: 300;
 }

 /* Seminars and workshops */

#schedule p {
	font-family: 'Roboto Condensed', arial, Helvetica, sans-serif;
}

#schedule button {
	margin: 40px auto 0 auto;
	display: block;
}

 .timetable {
 	margin: 10px auto;
 	width: 960px;
 	border: 1px solid #CFD8DC;
 	padding: 10px;
 }

 .timetabe-inactive {
 	opacity: 0.7;
 }

/* .timetable:hover {
 	-webkit-box-shadow: 0 0 6px rgba(38,50,56,.3);
	-moz-box-shadow: 0 0 6px rgba(38,50,56,.3);
	box-shadow: 0 0 6px rgba(38,50,56,.3);
 }
*/
  .timetable-time, .timetable-name, .timetable-author {
 	display: table-cell;
 }

 .timetable-time {
 	padding-right: 30px;
 }

 p > i {
 	padding-right: 20px;
 	position: relative;
 	top:2px;
 }

 .timetable-author {
 	padding-left: 40px;
 }

 .short {
 	padding-left: 46%;
 }

.timetable-name > p {
	font-weight: 400;
	letter-spacing: normal;
}


/* Venue */

.location-box {
	display: block;
	margin: 40px auto 0 auto;
}

.location-box > p {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.location-icon {
	color: #ef5350;
	background-color: #fff;
	padding: 14px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
}

#map {
	height: 400px;
}


/* Feedback */

.quote-header {
	padding: 0 20%;
	
}

.quote-hr {
	width: 20%;
	padding: 0 60px;
	color: #fff;
	display: inline-flex;
	position: relative;
	bottom: 10px;
}

.feedback-icon {
	background-color: #fff;
	color: #00acc1;
	padding: 10px;
	border-radius: 50%;
	display: inline-flex;
	margin: 0 20px;

}

.feedback-carousel {
	width: 960px;
	margin: 0 auto;
}

.feedback-content {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-size: 1.375em;
	text-align: left;
	line-height: 130%;
	font-weight: 300;
	color: #fff;
	padding: 30px 0;
}

.feedback-author {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	font-size: 1.125em;
	text-align: left;
	line-height: 130%;
	font-weight: 400;
	color: #fff;
}


/* Footer */

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #263238;
	padding: 20px 0;
}

.logo-footer {
	opacity: 0.5;
	height: 30px;

}

.footer-txt {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

.social-footer {
	padding-left: 50%;
}

.footer-icon {
	height: 20px;
	width: auto;

}

.social-icon {
	opacity: 0.5;
	padding: 10px;
	background-color: #37474f;
	margin-left: 20px;
}


.social-icon:hover, .social-icon:focus {
	background-color: #ef5350; 
	opacity: 1;
}

/* Buttons */

.btn {
	font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	background: transparent;
	font-size: 1em;
	letter-spacing: 0.5px;
	border: none;
	color: #ef5350;
	border-radius: 0;
	padding: 10px 15px;
}

.btn:hover, .btn:focus, .btn:active {
	background-color: #ef5350;
	color: #fff;
}

.icon-btn {
	position: relative;
	top: 4px;
	padding-right: 10px;
}




/* Less fix. */

 p {
 	margin: 0 !important;
 }


/* owl controls */

.owl-dot {
	color: #000;
	width: 50px;

} 


 /* Devices */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.social-footer {
		padding-left: 20%;
	}
	.footer-txt {
		font-size: 1em;
	}
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* Large devices (x-large desktops, 1600px and up) */
@media (min-width: 1600px) { 

	h1 {
		font-size: 5em;
	}

	.hero-date {
		font-size: 1.6em;
		padding-top: 0;
	}

	.logo-about {
		height: 60px;
	}

 }

/* Fixes */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }